.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #eedeb8;

}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eedeb8;
    color: #596247;
    padding-bottom: 10%;
}

input {
    background-color: #eedeb8;

}

select,
option {
    font-family: 'Open Sans', sans-serif;
    padding: 2%;
    width: 50%;
}

.diet-container {
    display: flex;
}

#google-0-1 {
    color: #bc5108;
}

.google-colors {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

.google-colors h1 {
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box {
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    width: 600px;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

#answer-box {
    /* width: 700px; */
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.item {
    align-items: center;
}

.item h3 {
    text-align: center;
    color: #eedeb8;
}

.item p {
    text-align: center;
    color: #eedeb8;
}

.item_container {
    width: 85%;
    align-items: center;
    justify-content: center;
    border: solid;
    padding: 1% 2%;
    margin: 1%;
    border-color: #788461;
    border-width: 2px;
    background-color: #788461;
}

picture {
    width: 100%;
    height: 100%;
    display: flex;

}

picture img {
    object-fit: cover;
    height: auto;
    width: 100%;
}