<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h1 id="google-0-1">Flavors of India</h1>
            </div>
            <div class="input-box" onclick="sendFocus('filter-text-val')">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Input Your Ingredients" id="filter-text-val">
            </div>
            <br>
            <div class="input-box" onclick="sendFocus('filter-text-val-1')">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Input Keywords" id="filter-text-val-1">
            </div>
            <br>
            <div>
                <label for="time"> How much time do you have? </label>
                <input type="range" min="10" max="800" value="50" step="5" class="slider"
                    onchange="updateTimeInput(this.value);">
                <output id="time-output">50</output>
            </div>
            <br>
            <div class="diet-container">
                <label for="diet-label"> Dietary Restrictions? </label>
                <select name="diet" id="diet" value="Vegetarian">
                    <option value="Vegetarian">Vegetarian</option>
                    <option value="Non-Vegetarian">Non-Vegetarian</option>
                    <option value="Gluten Free">Gluten Free</option>
                </select>
            </div>
            <br>
            <div class="course-container">
                <label for="course-label"> Course </label>
                <select name="course" id="course" value="Click dropdown">
                    <option value="">Choose Course</option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Dinner">Dinner</option>
                    <option value="Side">Side</option>
                    <option value="Dessert">Dessert</option>
                </select>
            </div>
            <br>
            <button id="search" style="padding:10px 30px; font-family: 'Open Sans'; font-size: 15px"> Search </button>
        </div>
        <div id="answer-box">
        </div>
        <button id="update">Update Recipes</button>

    </div>
    <script>

        window.onload = function () {
            document.getElementById("update").hidden = true;
        }

        function answerBoxTemplate(row) {
            const name = row.name.toLowerCase();
            new_name = "";
            for (i = 0; i < name.length; i++) {
                if (name[i].match(/^[a-z]+$/) !== null) {
                    new_name += name[i];
                }
                else {
                    if (i > 0 && new_name[new_name.length - 1] != '-') {
                        new_name += "-";
                    }
                }
            }
            if( new_name.slice(-1)=='-'){
                new_name = new_name.slice(0,-1)
            }
            console.log(new_name);
            const link = 'https://www.archanaskitchen.com/' + new_name;
            return `<a href=${link} style='text-decoration:none; color:black;'> <div class='item'>
                <h3 class='episode-title'>${row.name}</h3>
                <picture><img src=${row.image_url} width=300 height=250></picture>
                <p style="font-size=40px;"">${row.description}</p></a>
                <button id="like" style = "font-size:30px; background-color:#fff7e0; border:0px margin: 2%" onclick="rocchio_relevant('${row.name}')"> 👍🏼 </button>
                <button id="dislike" style="font-size:30px; background-color:#fff7e0; border:0px; margin: 2%" onclick="rocchio_irrelevant('${row.name}')"> 👎🏼 </button> </div>`
        }

        const relevant = [];
        const irrelevant = [];

        function rocchio_relevant(name) {
            relevant.push(name);
        }

        function rocchio_irrelevant(name) {
            irrelevant.push(name);
        }

        const filter_button = document.getElementById("search");
        const update_button = document.getElementById("update");

        function sendFocus(id) {
            document.getElementById(id).focus()
        }

        filter_button.addEventListener('click', (event) => {
            ingredients = document.getElementById('filter-text-val').value;
            keywords = document.getElementById('filter-text-val-1').value;
            time = document.getElementById('time-output').value;
            diet = document.getElementById('diet').value;
            course = document.getElementById('course').value;
            document.getElementById("update").hidden = false;
            document.getElementById("update").style.marginBottom = "500px";
            document.getElementById("update").style.boxSizing = "content-box";
            document.getElementById("update").style.padding = "30px 70px";
            document.getElementById("update").style.fontSize = "20px";
            document.getElementById("update").style.fontFamily = 'Open Sans';
            filterText(ingredients, time, diet, course, relevant, irrelevant);

        });

        update_button.addEventListener('click', (event) => {
            filterText(ingredients, time, diet, course, relevant, irrelevant);
        });

        function filterText(ingredients, time, diet, course, relevant, irrelevant) {
            console.log(relevant);
            console.log(irrelevant);
            document.getElementById("answer-box").innerHTML = ""
            fetch("/episodes?" + new URLSearchParams({ ingredients: ingredients, time: time, diet: diet, course: course, keywords: keywords, relevant: relevant, irrelevant: irrelevant }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    let tempDiv = document.createElement("div")
                    tempDiv.className = "item_container";
                    tempDiv.innerHTML = answerBoxTemplate(row)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));

        }

        function updateTimeInput(val) {
            document.getElementById('time-output').value = val;
            time_slider_val = val;
        }
    </script>

</body>