<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h1 id="google-0-1">Flavors of India</h1>
            </div>
            <div class="input-box" onclick="sendFocus('filter-text-val')">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Input Your Ingredients" id="filter-text-val">
            </div>
            <br>
            <div>
                <label for="time"> How much time do you have? </label>
                <input type="range" min="10" max="95" value="50" step="5" class="slider"
                    onchange="updateTimeInput(this.value);">
                <output id="time-output">50</output>
            </div>
            <br>
            <div class="diet-container">
                <label for="diet-label"> Dietary Restrictions? </label>
                <select name="diet" id="diet" value="Vegetarian">
                    <option value="Vegetarian">Vegetarian</option>
                    <option value="Non-Vegetarian">Non-Vegetarian</option>
                    <option value="Gluten Free">Gluten Free</option>
                </select>
            </div>
            <br>
            <button id="search"> Search </button>
        </div>
        <div id="answer-box">

        </div>
    </div>
    <script>

        function answerBoxTemplate(row) {
            const name = row.name.toLowerCase();
            new_name = "";
            for (i = 0; i < name.length; i++) {
                if (name[i].match(/^[a-z]+$/) !== null) {
                    new_name += name[i];
                }
                else {
                    if (i > 0 && new_name[new_name.length - 1] != '-') {
                        new_name += "-";
                    }
                }
            }
            console.log(new_name);
            const link = 'https://www.archanaskitchen.com/' + new_name;
            return `<a href=${link} style='text-decoration:none; color:black;'> <div class='item'>
                <h3 class='episode-title'>${row.name}</h3>
                <picture><img src=${row.image_url} width=300 height=250></picture>
                <p>${row.description}</p>
            </div> </a>`
        }

        const button = document.getElementById("search");

        function sendFocus(id) {
            document.getElementById(id).focus()
        }

        button.addEventListener('click', (event) => {
            ingredients = document.getElementById('filter-text-val').value;
            time = document.getElementById('time-output').value;
            diet = document.getElementById('diet').value;
            filterText(ingredients, time, diet);
        });

        function filterText(ingredients, time, diet) {
            document.getElementById("answer-box").innerHTML = ""
            console.log(ingredients)
            console.log(time)
            console.log(diet)
            fetch("/episodes?" + new URLSearchParams({ name: ingredients, time: time, diet: diet }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    let tempDiv = document.createElement("div")
                    tempDiv.className = "item_container";
                    tempDiv.innerHTML = answerBoxTemplate(row)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));

        }

        function updateTimeInput(val) {
            document.getElementById('time-output').value = val;
            time_slider_val = val;
        }

    </script>
</body>